div {
    font: 300;
}
/*this is a type or element selector*/
h1{
    color: blue;
}
/*this is a id Selector*/
#a{
    color:green;
}
/*this is a universal selector*/
*{
    background-color:cornsilk;
}
/* this is for Descendant Selector*/
div article{
    font: oblique;
    color: black;
}
/*This is for Child Selector*/
ul>li{
    color:chocolate;
}
/*This is for Grouping Selectors*/
blockquote,section,h5{
    font:bolder;
    color:red;
    stroke: bisque;
}
/*this is for Attribute input Selector*/
input[type="text"]{
    font:message-box;
    color:chartreuse;
}